
        <div class="flex items-center bg-violet-800 justify-center w-3/4 p-4 rounded-2xl mx-auto">
            <h1 class="text-2xl font-bold lg:text-9xl">Dashboard</h1>
        </div>


    <section class="p-1 lg:p-4 flex flex-col align-center ">
        <div class="flex flex-col lg:flex-row gap-3">
            <div class="w-full p-3 flex items-center justify-center lg:w-1/3 h-[400px] bg-violet-300 rounded-2xl" >
                <canvas #myChart class="w-full h-full"></canvas>
            </div>
  
            <div class="w-full p-3 flex items-center justify-center lg:w-2/3 h-[400px] bg-violet-300 rounded-2xl" >
                <canvas #myChart2 class="w-full h-full"></canvas>
            </div>
        </div>
        
          <div class="flex-col lg:flex-row w-full flex justify-center lg:align-center mt-6 gap-2">
                    <div class="flex w-full lg:w-1/2 space-x-2 relative">
                        <i class="absolute left-2 top-1/2 -translate-y-1/2 fa-solid fa-magnifying-glass"></i>
                        <input type="search" id="search" class="w-full p-3 ps-9 border-violet-400 rounded-2xl border  text-heading text-sm focus:border-violet-800 placeholder:text-body" placeholder="Search" required />
                    </div>
            <button type="button" class="self-start bg-violet-600 active:scale-90 active:bg-violet-800 transition-all p-3 rounded-2xl">Search</button>
                </div>
        <table class="w-full text-sm text-left rtl:text-right text-body my-3 shadow-md shadow-violet-800 rounded-2xl overflow-hidden">
            
            
            <thead class="shadow-sm shadow-violet-600 text-sm text-body bg-neutral-secondary-medium">
                <tr>
                    <th scope="col" class="px-6 py-3 font-medium">Name</th>
                    <th scope="col" class="px-6 py-3 font-medium">Role</th>
                    <th scope="col" class="px-6 py-3 font-medium">Status</th>
                    <th scope="col" class="px-6 py-3 font-medium">Action</th>
                </tr>
            </thead>
            <tbody>
                @for(user of users();track $index){
                    <tr class=" shadow-sm shadow-violet-600 bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
                    <th scope="row" class="px-6 py-4 text-heading whitespace-nowrap">
                        <div class="flex items-center">
                            <div>
                                <div class="text-base font-semibold">{{user.name}}</div>
                                <div class="font-normal text-body">{{user.email}}</div>
                            </div>
                        </div>
                    </th>
                    <td class="px-6 py-4">{{user.role}}</td>
                    <td class="px-6 py-4">{{user.status}}</td>
                    <td class=" px-3 py-4">
                        <button (click)="deleteUser(user.id)" class="font-medium text-red-700 hover:underline bg-none border-none cursor-pointer">
                            Delete user
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table> 
    </section>

