<section class="flex items-center gap-2 px-4 py-3 flex-col h-full justify-center shadow-2xs mb-2">
    <h2 class="text-5xl text-violet-800">Tickly</h2>
    <a routerLink="/register" type="button" class="text-white bg-violet-800 hover:bg-violet-900 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 transition-all duration-200">Get Started</a>
    <a routerLink="/dashboard" type="button" class="text-white bg-violet-800 hover:bg-violet-900 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 transition-all duration-200">Dashboard</a>
</section>
